@use './partials/vars';

*{
    box-sizing: border-box;
    margin: 0;padding: 0;
}
li{
    list-style: none;
}
body{
    font-family: vars.$ff;
    font-size: vars.$fs-body;
    color:vars.$color-body;
}
h1{
    margin-bottom: vars.$spacer;
    padding: vars.$spacer * 1.2 0;
    font-size: vars.$fs-h1;
    color: vars.$color-heading;
    letter-spacing: vars.$ls;
    text-transform: uppercase;
}

#mall-event-container{
    text-align: center;
    padding: vars.$spacer 0;
}
.events{
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: vars.$spacer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: vars.$spacer * 4;
    gap: vars.$spacer * 2;
}
.event{
    background-color: vars.$color-white;
    box-shadow: vars.$bs;
    // border-top-left-radius:130px ;
    // border-bottom-right-radius: 130px;
    // border-top-right-radius: 50px;
    // border-bottom-left-radius: 50px;
    border-radius: 130px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: vars.$spacer * 1.5;

    &:nth-child(1){
        align-self: flex-start;
    }
    &:nth-child(3){
        align-self: flex-end;
    }

    &__title{
        color: vars.$color-heading;
        letter-spacing: vars.$ls;
        text-transform: uppercase;
    }
    &__list{

        &-item{
            font-size: vars.$fs-normal *1.3;
            &:not(:last-child)::after{
                content: "";
                height: 1px;
                display: block;
                background-color: vars.$color-light-gray;
                margin: vars.$spacer * 0.3 0;
            }
        }
    }
    &__cost{
        font-size: vars.$fx-l;
        font-weight: vars.$fw-b;
        color: vars.$color-accent;
        span{
            // font-size: vars.$fs-body;
            // font-weight: vars.$fw-l;
            font: {
                size: vars.$fs-body;
                weight: vars.$fw-l;
            };
        }
    }
    
    &--accent{
        background-color: vars.$color-accent;
        box-shadow: vars.$bs-accent;

        & .event__title,
        & .event__list,
        & .event__cost
        {
            color: vars.$color-white;

            &-item::after{
                background-color: lighten(vars.$color-accent, $amount: 40%)
            }
        }
    }
}

.button{
    padding: vars.$spacer vars.$spacer * 2.5;
    background-color: vars.$color-gray;
    border-radius: 30px;
    // text-transform: uppercase;
    // text-decoration: none;
    text: {
        transform: uppercase;
        decoration: none;
    }
    font-weight: vars.$fw-b;
    font-size: vars.$fx-sm;

    color: vars.$color-white;
    letter-spacing: vars.$ls;
    transition: 0.3s;

    &:hover{
        box-shadow: vars.$bs;
        background-color: vars.$color-accent;
        transform: scale(1.2);
        
    }
    &--accent{
        background-color: vars.$color-white;
        color: vars.$color-accent;
        &:hover{
            background-color: vars.$color-gray;
            color: vars.$color-white;
        }
    }
}